body{font-size:14pt;line-height:;font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;background-color:rgb(52, 170, 220);width:100%;background-image:url(backgroundlogo.png);background-repeat: repeat;text-align:;margin:0px;color:#666666;direction:;}
p{padding-right: 4px;padding-left: 4px;}
a{color:#666666;text-decoration:none;font-weight:bold;font-size:14pt;}
a:visited{color:#666666;text-decoration:none;font-weight:bold;}
h1{font-family: "Lucida Sans Unicode";font-size: 18pt;color: #474747;font-weight: regular;}
h2{ffont-family: "Lucida Sans Unicode";font-size: 14pt;color: #474747;font-weight: regular;}
h3{font-family: "Lucida Sans Unicode";font-size: 12pt;color: #474747;font-weight: bold;}
li{font-family: "Lucida Sans Unicode";font-size: 11pt;font-style: normal;line-height: normal;padding: 0px;/*list-style-type: square;*/margin-bottom:10px;color: #666666;}
.itemimage{border:solid 0px #aaa;max-width:100px;width: expression(this.width > 100 ? 100: true);vertical-align:middle;}
 .iimage{border:solid 0px #aaa;max-width:320px;width: expression(this.width > 320 ? 320: true);vertical-align:middle;}
ol{list-style-type: decimal;}
ul{list-style-type: square;}
.iconmenutitle{color:#666666;font-size:14pt;}

/*circlemenucssaddition*/

body
{
	-webkit-tap-highlight-color: rgba(0,0,0,0.1);
	background: #f1f1f1;
}

@font-face {
	font-family: 'helvetica-light';
	src: url('helvetica-light.ttf') format('truetype');
}
.circlemenulistcontainer
{
	min-width: 320px;
	width: auto;
	max-width: 1024px;
	margin: 0px auto;
	text-align: center;
}

/* ----- circle MENU ------ */

.circleMenuList
{
	margin: 0 auto;
	padding:0;	
	display: block;
	list-style:none;
}

.circleMenuItem
{
	display: inline-block;
}

.circleMenuTitle
{
	font-family:'helvetica-light',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight:bold;
	color: #000;
	height: 132px;
	width: 142px;	
	float: left;
	text-align: center;
	line-height: 90px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);

}
.circleMenuImage{
	display:table;
	margin: auto;
	position:relative;
	z-index:9;
	top:13%;
	width:50px;
	height:50px;
	border: dashed 1px #333;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	padding:10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0.5);
}

/* ----- circle ----- */
	
@media only screen and (max-width: 320px) { /* Mobile  (portrait)*/
	.circleMenuList
	{
		min-width: 313px;
		max-width: 313px;
		border: 3px solid transparent;
	}
	
	.circleMenuTitle
	{
		height: 140px;
		width: 152px;
	}
}

@media only screen and (min-width: 361px) and (max-width: 480px) { /* Mobile (landscape)*/
	.circleMenuList
	{
		min-width: 100%;
		max-width: 100%;
		border: 4px solid transparent;
		border-right: none;
	}
	
	.circleMenuTitle
	{
		line-height: 70px;
		height: 110px;
		width: 153px;
	}
}

@media only screen and (min-width: 481px) and (max-width: 534px) {/* Mobile (landscape)*/
	.circleMenuList
	{
		min-width: 530px;
		max-width: 530px;
		border: 4px solid transparent;
		border-right: none;
	}
	
	.circleMenuTitle
	{
		line-height: 70px;
		height: 110px;
		width: 170px;
	}
}

@media only screen and (min-width: 535px) and (max-width: 568px) {
	.circleMenuList
	{
		min-width: 560px;
		max-width: 560px;
		border: 4px solid transparent;
		border-right: none;
	}
	
	.circleMenuTitle
	{
		line-height: 80px;
		height: 110px;
		width: 182px;
	}
}

@media only screen and (min-width: 569px) and (max-width: 767px) { /* Mobile (landscape)*/
	.circleMenuList
	{
		min-width: 560px;
		max-width: 560px;
		border: 3px solid transparent;
		border-bottom: none;
	}
	
	.circleMenuTitle
	{
		height: 122px;
		width: 182px;
		line-height: 90px;
	}
}


@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait)  { /* Tablet */
	.circleMenuList
	{
		min-width: 766px;
		max-width: 766px;
		border-bottom: none;
		border-right: none;
	}
	.circleMenuTitle
	{
		font-size:18px;
		height: 251px;
		width: 251px;
		line-height: 230px;
	}
	.circleMenuImage{
		top:22%;
		width:96px;
		height:96px;
		border: dashed 1px #333;
		-webkit-border-radius: 60px;
		-moz-border-radius: 60px;
		border-radius: 60px;
		padding:10px;
	}
}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape)  { /* Tablet */
	.circleMenuImage{
		top:22%;
		width:96px;
		height:96px;
		border: dashed 1px #333;
		-webkit-border-radius: 60px;
		-moz-border-radius: 60px;
		border-radius: 60px;
		padding:10px;
	}
	.circleMenuList
	{
		min-width: 1020px;
		max-width: 1020px;
		border-bottom: none;
		border-right: none;
	}
	
	.circleMenuTitle
	{
		font-size:18px;
		height: 300px;
		width: 336px;
		line-height: 220px;
	}
}

@media (min-width: 1025px) {
	
	.circlemenulistcontainer{max-width: 768px;}

	.circleMenuList
	{
		min-width: 768px;
		max-width: 768px;
		border-bottom: none;
		border-right: none;
	}
	.circleMenuTitle
	{
		font-size:18px;
		height: 252px;
		width: 252px;
		line-height: 230px;
	}
	.circleMenuImage{
		top:22%;
		width:96px;
		height:96px;
		border: dashed 1px #333;
		-webkit-border-radius: 60px;
		-moz-border-radius: 60px;
		border-radius: 60px;
		padding:10px;
	}
}
